template
  .cmd-form
    .header
      q-btn(@click="loadCmdList()").btn 
        | 載入命令
        q-menu(content-class="cmd-form-btn-menu" dark)
          q-list
            template(v-if="!status.isLoadingStoreCmd")
              template(v-if="cmdList && cmdList.length !== 0")
                .form-item.v
                  .label 已儲存的命令清單
                  select(v-model="cmd.loadFileName")
                    option(v-for="cmd in cmdList"
                          :value="cmd") {{cmd}}
                q-separator
                q-item(@click="loadCmd(cmd.loadFileName)" clickable
                       v-close-popup="true")
                  q-item-section 載入

              .form-item(v-else)
                .label.m-0px 沒有儲存的命令

            .form-item(v-else)
              q-spinner(size="2em")

      q-btn.btn
        | 另存命令
        q-menu(content-class="cmd-form-btn-menu" dark)
          q-list
            .form-item.v
              .label 檔名
              input(v-model="cmd.saveAsName")
            q-separator
            q-item(@click="saveAs()" clickable
                  v-close-popup="true")
              q-item-section 儲存

    .body
      .cmd-item(v-for="(cmdItem, cmdIndex) in cmd.list")
        // 右鍵設定
        q-menu(content-class="card-context-menu"
               context-menu)
          q-list()
            q-item
              q-item-section 發送設定
            q-item(:disable="cmdItem.mode.timer !== null")
              q-item-section(:class="{'pe-none': cmdItem.mode.timer !== null}")
                | 類型
                select(v-model="cmdItem.mode.type")
                  option(value="") 停用
                  option(value="interval") 間隔
                  option(value="timeout") 延遲
                  option(value="chain") 連鎖

            template(v-if="cmdItem.mode.type === 'interval'")
              q-item(:disable="cmdItem.mode.timer !== null")
                q-item-section(:class="{'pe-none': cmdItem.mode.timer !== null}")
                  | 間隔時間（ms）
                  input(v-model.number="cmdItem.mode.option.interval")

            template(v-else-if="cmdItem.mode.type === 'timeout'")
              q-item(:disable="cmdItem.mode.timer !== null")
                q-item-section(:class="{'pe-none': cmdItem.mode.timer !== null}")
                  | 延遲時間（ms）
                  input(v-model.number="cmdItem.mode.option.timeout")

            template(v-else-if="cmdItem.mode.type === 'chain'")
              q-item(:disable="cmdItem.mode.timer !== null")
                q-item-section(:class="{'pe-none': cmdItem.mode.timer !== null}")
                  | 接續命令
                  select(v-model.number="cmdItem.mode.option.chain")
                    option(v-for="n in 12" v-if="n !== (cmdIndex+1)"
                           :value="n") {{'F' + n}}
              q-item(:disable="cmdItem.mode.timer !== null")
                q-item-section(:class="{'pe-none': cmdItem.mode.timer !== null}")
                  | 延遲時間（ms）
                  input(v-model.number="cmdItem.mode.option.timeout")

            q-separator

            q-item
              q-item-section 命令說明
                input(v-model="cmdItem.description")

        // 發送按鈕
        .emit-btn(@click="sendCmd(cmdItem, cmdStatus[cmdIndex])"
                  :class="{'mode': cmdItem.mode.timer !== null}")
          transition(name="effect")
            .effect(:key="cmdItem.timestamp")

        // 輸入框
        input(v-model.trim="cmdItem.value"
              @keydown.enter="sendCmd(cmdItem, cmdStatus[cmdIndex])"
              :class=`[cmdStatus[cmdIndex].status, cmdItem.mode.type]`)

        // 輸入框後缀顯示
        transition(name="width-clip")
          .suffix(v-if=`cmdItem.mode.type === 'chain'
                        && cmdItem.mode.option.chain !== -1`)
            | F{{cmdItem.mode.option.chain}}

        // 錯誤提示訊息
        q-tooltip(transition-show="jump-right"
                  transition-hide="jump-right"
                  anchor="center right" self="center left"
                  :content-class=`['fs-14',  'word-break', 'border-effect',
                                  cmdStatus[cmdIndex].status, 
                                  {'d-none': cmdStatus[cmdIndex].status !== 'err'}]`)
          | {{cmdStatus[cmdIndex].msg}}

        // 命令說明
        q-tooltip(v-if="cmdItem.description !== ''"
                  transition-show="jump-left"
                  transition-hide="jump-left"
                  anchor="center left" self="center right"
                  :content-class=`['fs-14',  'word-break', 'border-effect']`)
          | {{cmdItem.description}}

    
script(src="./js/cmd-form.js")