template
  .serial-card(@click="selectCard()" :key="path"
               :class="{'selected': status.isSelected}")
    .frame-shapes(:class="{'selected': status.isSelected}")
      .shape.rt
      .shape.rb
      .shape.lt
      .shape.lb

    .d-none {{cardSetting}}

    // 發送、接收
    .card-content
      // 卡片右鍵選單
      q-menu(content-class="card-context-menu"
            context-menu)
        q-list()
          q-item(@click="panel.showOption = !panel.showOption"
                :class="{'active': panel.showOption}"
                clickable v-close-popup="true")
            q-item-section 參數設定
          //q-item(clickable v-close-popup="true")
            q-item-section 開關 Port
          q-item(@click="deleteCard()"
                 clickable v-close-popup="true")
            q-item-section 刪除卡片

          q-separator

          q-item(@click="panel.showCmds = !panel.showCmds"
                 :class="{'active': panel.showCmds}"
                 clickable)
            q-item-section 指令清單
          //q-item(clickable)
            q-item-section 筆記本

          q-separator

          q-item(@click="clearReceiceData()"
                clickable v-close-popup="true")
            q-item-section 清空接收訊息
          q-item(@click="clearStyle('dataTextarea')"
                clickable v-close-popup="true")
            q-item-section 預設大小

      .header
        .row
          label.path(:class="{'active': status.isPortOpen}")
            | {{com.path}}
          
          .action
            .switch(@click="switchPort()"
                    :class="{'active': status.isPortOpen}")
      
      .body
        // 資料輸入框
        .data-input
          input(v-model="input.val"
                :class="sendNumStatus.status"
                @keydown.enter="sendEvent()")

          // 提示「純數值發送」
          q-icon(v-if="com.option.isSendNum"
                 name="format_list_numbered").sendNum
            q-tooltip(transition-show="jump-right"
                      transition-hide="jump-right"
                      anchor="center right" self="center left"
                      :content-class=`['fs-20',  'word-break', 'border-effect']`)
              | 純數值發送

          transition(name="send" mode="out-in")
            .effect(:key="input.timestamp")

          // 提示訊息
          q-tooltip(transition-show="jump-right"
                    transition-hide="jump-right"
                    anchor="center right" self="center left"
                    :content-class=`['fs-14',  'word-break', 'border-effect',
                                    sendNumStatus.status,
                                    {'d-none': sendNumStatus.status !== 'err'}]`)
            | {{sendNumStatus.msg}}

        .br

        // 資料接收框
        .data-textarea
          //.textarea(v-if=""
                    ref="dataTextarea"
                    :style="textareaStyle")
            | {{textareaString}}
          .textarea(ref="dataTextarea"
                    :style="textareaStyle")
            .text-item(v-for="data in textareaDatas"
                        :style="textareaStyle")
              .date(v-if="textarea.display.showTime")
               | {{formatTimestamp(data.timestamp)}}
              .text(v-html="data.data")

      // 設定區
      transition(name="opacity")
        .option(v-if="panel.showOption")
          q-list
            q-expansion-item(label="串列通訊設定" icon="settings_power"
                            caption="BPS、校驗位、停止位 •••")
              .option-item
                label BPS
                input(v-model.number="com.option.baudRate")
              .option-item
                label buffer
                input(v-model.number="com.option.highWaterMark")
              .option-item
                label 位元數
                input(v-model.number="com.option.dataBits")
              .option-item
                label 停止位
                input(v-model.number="com.option.stopBits")
              .option-item
                label 校驗位
                input(v-model.number="com.option.parity")

            q-expansion-item(label="解析器設定" icon="memory"
                            caption="解析器類型、各種參數 •••")
              .option-item
                label 類型
                select(v-model="com.parser.type"
                      @change="setParser()")
                  option(v-for="item in com.parser.list"
                        :value="item.type")
                    | {{item.type}}
              .option-item
                label.solid
                  | {{parserDescription}}

              template(v-if="com.parser.type === 'Regex'")
                .option-item
                  label regex
                  input(v-model="com.parser.option.regex"
                        @change="setParser()")
                .option-item
                  label encoding
                  input(v-model="com.parser.option.encoding"
                        @change="setParser()")

              template(v-else-if="com.parser.type === 'ByteLength'")
                .option-item
                  label byte 數量
                  input(v-model.number="com.parser.option.length"
                        type="number" @change="setParser()")

              template(v-else-if="com.parser.type === 'Readline'")
                .option-item
                  label encoding
                  input(v-model="com.parser.option.encoding"
                        @change="setParser()")
                .option-item
                  label delimiter
                  input(v-model="com.parser.option.delimiter"
                        @change="setParser()")

              template(v-else-if="com.parser.type === 'Delimiter'")
                .option-item
                  label delimiter
                  input(v-model="com.parser.option.delimiter"
                        @change="setParser()")

              template(v-else-if="com.parser.type === 'InterByteTimeout'")
                .option-item
                  label interval
                  input(v-model.number="com.parser.option.interval"
                        type="number" @change="setParser()")
                .option-item
                  label maxBufferSize
                  input(v-model.number="com.parser.option.maxBufferSize"
                        type="number" @change="setParser()")

            q-expansion-item(label="發送接收設定" icon="swap_vert"
                            caption="發送字串、純數字 •••")
              .option-item
                label 發送純數值
                input(v-model="com.option.isSendNum"
                      type="checkbox")
              .option-item
                label 接收資料以 16 進位顯示
                input(v-model="com.option.hexNum"
                      type="checkbox")
              //.option-item
                label 起始符
                input(v-model="com.option.startChar")
              //.option-item
                label 結尾符
                input(v-model="com.option.endChar")

            q-expansion-item(label="卡片功能設定" icon="toc"
                            caption="是否自動捲動、自動清空 •••")
              .option-item
                label 發送後清空
                input(v-model="com.option.sendClear"
                      type="checkbox")
              .option-item
                label 貼底自動捲動
                input(v-model="com.option.autoScroll"
                      type="checkbox")

            q-expansion-item(label="資料顯示設定" icon="book"
                            caption="資料接收框時間格式、字級、字距 •••")
              .option-item
                label 是否顯示時間戳記
                input(v-model="textarea.display.showTime"
                      type="checkbox")
              .option-item
                a(href="https://momentjs.com/docs/#/displaying/format/" target="_blank")
                  | 時間戳記格式
                input(v-model.number="textarea.display.dateFormat").flex-none

              q-separator

              .option-item
                label 字級
                input(v-model.number="textarea.style.fontSize.val"
                      type="number").w-100px.flex-none
                input(v-model="textarea.style.fontSize.unit").w-100px.flex-none
              .option-item
                label 行高
                input(v-model.number="textarea.style.lineHeight.val"
                      type="number").w-100px.flex-none
                input(v-model="textarea.style.lineHeight.unit").w-100px.flex-none
              .option-item
                label 字距
                input(v-model.number="textarea.style.letterSpacing.val"
                      type="number").w-100px.flex-none
                input(v-model="textarea.style.letterSpacing.unit").w-100px.flex-none

            q-item(@click="panel.showOption = false;"
                  clickable)
              q-item-section
                q-avatar(icon="close")
              q-item-section 關閉設定

    transition(name="width-clip")
      .br(v-if="panel.showCmds").v.ml-10px.mr-10px

    // 命令清單
    transition(name="width-clip")
      cmd-form(v-if="panel.showCmds" :path="path"
               :sendNumData="com.option.isSendNum"
              ref="cmd-form"
               @send="sendEvent" @msg="showTips").card-content


script(src="./js/serial-card.js")