.cmd-form .header{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.cmd-form .body .cmd-item,.serial-card,.serial-card .card-content{display:-webkit-box;display:-ms-flexbox}
.cmd-form .header .q-btn{border-radius:0}
.cmd-form .header .q-btn:not(:first-child){margin-left:10px}
.cmd-form .header .q-btn .q-btn__wrapper{padding:0;min-height:auto}
.cmd-form .body .cmd-item{display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;position:relative}
.cmd-form .body .cmd-item:not(:first-child){margin-top:10px}
.cmd-form .body .cmd-item:nth-child(4n){padding-bottom:10px;border-bottom:1px solid rgba(255,255,255,.4)}
.cmd-form .body .cmd-item:last-child{border:none}
.cmd-form .body .cmd-item .emit-btn{width:22px;height:20px;border:1px solid rgba(255,255,255,.7);margin-right:10px;cursor:pointer;position:relative;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
.cmd-form .body .cmd-item .emit-btn .effect,.serial-card{-webkit-transition-duration:.4s;-o-transition-duration:.4s}
.cmd-form .body .cmd-item .emit-btn.mode{background:rgba(66,227,179,.9)}
.cmd-form .body .cmd-item .emit-btn .effect{position:absolute;width:100%;height:100%;outline:rgba(255,255,255,0) solid 1px;transition-duration:.4s}
.cmd-form .body .cmd-item .emit-btn .effect-enter,.cmd-form .body .cmd-item .emit-btn .effect-leave{outline:rgba(255,255,255,.9) solid 1px;outline-offset:0}
.cmd-form .body .cmd-item .emit-btn .effect-enter-active,.cmd-form .body .cmd-item .emit-btn .effect-leave-active{outline:rgba(255,255,255,.9) solid 1px}
.cmd-form .body .cmd-item .emit-btn .effect-enter-to,.cmd-form .body .cmd-item .emit-btn .effect-leave-to{outline:rgba(255,255,255,0) solid 1px;outline-offset:10px}
.cmd-form .body .cmd-item input{width:100%;outline:0;background:rgba(255,255,255,.1);font-family:"Noto Sans TC";padding:5px 10px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition-duration:.2s;-o-transition-duration:.2s;transition-duration:.2s;color:#fff;border:0 solid rgba(255,255,255,0);border-left-width:3px}
.cmd-form .body .cmd-item input.interval{border-left-color:#348feb;border-left-width:3px}
.cmd-form .body .cmd-item input.timeout{border-left-color:#ff8533}
.cmd-form .body .cmd-item input.chain{border-left-color:#b1ff33}
.cmd-form .body .cmd-item input.err{border:1px solid #FF5858;border-left-width:3px;border-right-width:3px}
.cmd-form .body .cmd-item .suffix{width:40px;text-align:right;color:#fff;font-size:12px;margin-left:5px;text-shadow:0 0 10px rgba(0,0,0,.8)}
.cmd-form-btn-menu{border:1px solid rgba(255,255,255,.4);border-radius:0;color:#fff}
.cmd-form-btn-menu .form-item{padding:10px 20px}
.cmd-form-btn-menu .q-separator{background:rgba(255,255,255,.3)}
.cmd-form-btn-menu input,.cmd-form-btn-menu select{color:#fff}
.serial-card{min-width:400px;min-height:300px;padding:15px;border:1px solid rgba(255,255,255,.5);position:relative;display:-webkit-flex;display:flex;transition-duration:.4s;pointer-events:auto;color:#fff;margin-right:20px;margin-bottom:20px}
.serial-card .frame-shapes{position:absolute;top:0;left:0;width:100%;height:100%}
.serial-card .frame-shapes.selected .shape{background:rgba(66,227,179,.4);width:10px;height:10px;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.serial-card .frame-shapes.selected .shape.rt{right:-5px;top:-5px}
.serial-card .frame-shapes.selected .shape.rb{right:-5px;bottom:-5px}
.serial-card .frame-shapes.selected .shape.lt{left:-5px;top:-5px}
.serial-card .frame-shapes.selected .shape.lb{left:-5px;bottom:-5px}
.serial-card .frame-shapes .shape{position:absolute;width:3px;height:3px;background:#fff;background:rgba(255,255,255,.4);-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s}
.serial-card .frame-shapes .shape.rt{right:0;top:0}
.serial-card .frame-shapes .shape.rb{right:0;bottom:0}
.serial-card .frame-shapes .shape.lt{left:0;top:0}
.serial-card .frame-shapes .shape.lb{left:0;bottom:0}
.serial-card.selected{border-color:#42e3b3}
.serial-card .card-content{display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;position:relative}
.serial-card .body,.serial-card .header .action{display:-webkit-flex;display:-ms-flexbox;display:-webkit-box}
.serial-card .header{width:100%;height:60px;position:relative;margin-bottom:10px;padding-top:10px;padding-bottom:25px;border-bottom:1px solid rgba(255,255,255,.2)}
.serial-card .header .path{font-size:22px;line-height:1;color:rgba(255,255,255,.8);letter-spacing:2px;text-shadow:0 0 10px rgba(255,255,255,.8);-webkit-transition-duration:.7s;-o-transition-duration:.7s;transition-duration:.7s}
.serial-card .header .path.active{text-shadow:0 0 10px #fff;color:#42e3b3}
.serial-card .header .action{position:absolute;right:0;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.serial-card .header .action .switch{width:20px;height:20px;cursor:pointer}
.serial-card .header .action .switch::after,.serial-card .header .action .switch::before{content:"";position:absolute;top:50%;right:0;-webkit-transition-duration:.7s;-o-transition-duration:.7s;transition-duration:.7s;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition-timing-function:cubic-bezier(.87,0,.13,1);-o-transition-timing-function:cubic-bezier(.87,0,.13,1);transition-timing-function:cubic-bezier(.87,0,.13,1)}
.serial-card .header .action .switch::after{width:35px;height:35px;background:rgba(66,227,179,0);border:1px solid rgba(255,255,255,.8);-webkit-box-shadow:0 0 10px rgba(66,227,179,0);box-shadow:0 0 10px rgba(66,227,179,0)}
.serial-card .header .action .switch::before{width:35px;height:35px;border:1px solid rgba(255,255,255,0);-webkit-transform:translateY(-50%) scale(0);-ms-transform:translateY(-50%) scale(0);transform:translateY(-50%) scale(0)}
.serial-card .header .action .switch.active::after{background:#42e3b3;border-color:rgba(255,255,255,0);-webkit-transform:translateY(-50%) scale(.4);-ms-transform:translateY(-50%) scale(.4);transform:translateY(-50%) scale(.4);-webkit-box-shadow:0 0 10px #42e3b3;box-shadow:0 0 10px #42e3b3}
.serial-card .header .action .switch.active::before{border-color:rgba(255,255,255,.5);-webkit-transform:translateY(-50%) scale(1);-ms-transform:translateY(-50%) scale(1);transform:translateY(-50%) scale(1)}
.serial-card .body{display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.serial-card .body .data-input{position:relative;width:100%;margin-bottom:10px;font-family:'Noto Sans TC'}
.serial-card .body .data-input .sendNum{position:absolute;top:50%;right:0;color:#42e3b3;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.serial-card .body .data-input input,.serial-card .body .data-textarea .textarea,.serial-card .body .data-textarea textarea{background:-o-linear-gradient(135deg,rgba(255,255,255,0),rgba(255,255,255,.05));padding:10px;color:rgba(255,255,255,.8);-webkit-box-sizing:border-box}
.serial-card .body .data-input input{width:100%;border:none;outline:0;background:-webkit-linear-gradient(135deg,rgba(255,255,255,0),rgba(255,255,255,.05));background:linear-gradient(-45deg,rgba(255,255,255,0),rgba(255,255,255,.05));box-sizing:border-box;-webkit-transition-duration:.4s;-o-transition-duration:.4s;transition-duration:.4s;border:1px solid rgba(255,255,255,0);border-left-width:2px;border-right-width:2px}
.serial-card .body .data-input input.err{border-color:#FF5858}
.serial-card .body .data-input .effect{position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;-webkit-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s}
.serial-card .body .data-input .send-enter,.serial-card .body .data-input .send-leave-to{background:rgba(255,255,255,.1)}
.serial-card .body .data-textarea .textarea,.serial-card .body .data-textarea textarea{width:500px;height:470px;min-width:300px;min-height:300px;font-family:textarea-font;letter-spacing:2px;line-height:2;border:none;outline:0;background:-webkit-linear-gradient(135deg,rgba(255,255,255,0),rgba(255,255,255,.05));background:linear-gradient(-45deg,rgba(255,255,255,0),rgba(255,255,255,.05));resize:both;overflow-y:auto;margin-top:10px;box-sizing:border-box;word-break:break-all}
.serial-card .body .data-textarea .textarea err,.serial-card .body .data-textarea textarea err{color:#FF5858}
.serial-card .body .data-textarea .textarea warn,.serial-card .body .data-textarea textarea warn{color:#ff9447}
.serial-card .body .data-textarea .textarea .text-item,.serial-card .body .data-textarea textarea .text-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-top:5px}
.serial-card .body .data-textarea .textarea .text-item .date,.serial-card .body .data-textarea textarea .text-item .date{border-right:1px solid rgba(255,255,255,.2);margin-right:10px;padding-right:10px;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.serial-card .body .data-textarea .textarea .text-item .text,.serial-card .body .data-textarea textarea .text-item .text{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;font-family:textarea-font;-webkit-box-sizing:border-box;box-sizing:border-box;word-break:break-all;white-space:pre-wrap;-webkit-box-flex:4;-webkit-flex:4;-ms-flex:4;flex:4}
.serial-card .option{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(23,23,23,.98);overflow:auto}
.serial-card .option .q-expansion-item{border-bottom:1px solid rgba(255,255,255,.3)}
.serial-card .option .q-expansion-item .q-item__label{font-size:18px}
.serial-card .option .q-expansion-item .q-item__label--caption{font-size:12px;color:#fff}
.serial-card .option .option-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:5px 15px}
.serial-card .option .option-item a,.serial-card .option .option-item label{color:#fff;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.serial-card .option .option-item a.border,.serial-card .option .option-item label.border{border:1px solid rgba(255,255,255,.5);border-left-width:3px;border-right-width:3px;padding:0 10px}
.serial-card .option .option-item a.solid,.serial-card .option .option-item label.solid{background:rgba(255,255,255,.2);padding:0 10px}
.serial-card .option .option-item input,.serial-card .option .option-item select{padding:5px 10px;border:none;outline:0;background:rgba(255,255,255,.1);text-align:center;-webkit-box-flex:.8;-webkit-flex:.8;-ms-flex:.8;flex:.8;font-family:'Noto Sans TC';color:#fff}
.serial-card .option .option-item input[type=checkbox]{-webkit-box-flex:.8;-webkit-flex:.8;-ms-flex:.8;flex:.8;height:20px}
.serial-card .option .option-item select{-moz-text-align-last:center;text-align-last:center;font-family:"Noto Sans TC"}
.serial-card .option .option-item select option{color:#fff;background:rgba(20,25,26,.95);font-family:"Noto Sans TC";border:none;outline:0}
.card-context-menu{border-radius:0;border:1px solid rgba(255,255,255,.3);background:rgba(20,25,26,.9);color:#fff}
.card-context-menu .q-list{min-width:170px}
.card-context-menu .q-item.active{background:rgba(255,255,255,.1)}
.card-context-menu .q-item.active .q-item__section{color:#42e3b3}
.card-context-menu .q-item input,.card-context-menu .q-item select{padding:5px 10px;border:none;outline:0;background:rgba(255,255,255,.1);text-align:center;-webkit-box-flex:.8;-webkit-flex:.8;-ms-flex:.8;flex:.8;font-family:'Noto Sans TC';margin-top:5px;color:#fff}
.card-context-menu .q-item input[type=checkbox]{-webkit-box-flex:.8;-webkit-flex:.8;-ms-flex:.8;flex:.8;height:20px}
.card-context-menu .q-item select{-moz-text-align-last:center;text-align-last:center;font-family:"Noto Sans TC"}
.card-context-menu .q-item select option{color:#fff;background:rgba(20,25,26,.95);font-family:"Noto Sans TC";border:none;outline:0}
.card-context-menu .q-separator{background:rgba(255,255,255,.3)}