<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>MultiSerialApp3 v</title>
    <link rel="stylesheet" href="css/1.11.3-quasar.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/element.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="fonts/fonts.css">
    <!--link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons")-->
    <!--link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron:400,500,600,700&display=swap")-->
    <!--link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional")-->
  </head>
  <body> 
    <div class="screen" @click.self="screenClick()" v-cloak>
      <transition-group class="card-area" name="card" tag="div">
        <serial-card v-for="(card, path) in cardVal" @setting="cardSettingEvent" @delete="deleteCard" ref="serialCard" :path="path" :key="path"></serial-card>
      </transition-group>
      <transition name="move-left">
        <div class="path-list" v-if="menu.com.show" @mouseleave="menu.com.show = false">
          <div class="path-btn" v-for="com in comList" :class="{'exist': com.exist}" @click="switchCard(com.path)">
            <label>{{com.path}}</label>
            <label class="fs-12">{{com.manufacturer}}　</label>
          </div>
        </div>
      </transition>
      <div class="menu lb" @mouseenter="menu.com.show = true" :class="{'hover': menu.com.show}"></div>
      <div class="menu rb" @mouseenter="menu.option.show = true" :class="{'hover': menu.option.show}"></div>
      <transition name="move-right">
        <div class="app-option" v-if="menu.option.show">
          <q-list>
            <!--q-expansion-item(label="資源設定" icon="folder_open" 
                           caption="參數檔、命令檔 •••")
            .option-item
              label 參數檔路徑
              .ctrl
                input.text
                q-tooltip(transition-show="jump-up"
                          transition-hide="jump-up"
                          anchor="center right" self="center left"
                          :content-class="['fs-14', 'word-break']")
                  | HI
            .option-item
              label 命令檔路徑
              .ctrl
                input.text
            
            -->
            <q-expansion-item label="管理儲存檔案" icon="storage" caption="卡片設定檔、命令集 •••">
              <div class="form-item">
                <div class="label">所有卡片設定檔</div>
                <div class="ctrl">
                  <select v-model="menu.option.items.selectCard">
                    <option v-for="card in menu.option.items.storeFile.card" :value="card">{{card}}</option>
                  </select>
                </div>
                <div class="btn" @click="popupDeleteCardRecord(menu.option.items.selectCard)">刪除</div>
              </div>
              <div class="form-item">
                <div class="label">所有命令集</div>
                <div class="ctrl">
                  <select v-model="menu.option.items.selectCmd">
                    <option v-for="cmd in menu.option.items.storeFile.cmd" :value="cmd">{{cmd}}</option>
                  </select>
                </div>
                <div class="btn" @click="popupDeleteCmdRecord(menu.option.items.selectCmd)">刪除</div>
              </div>
            </q-expansion-item>
            <q-item @click="menu.option.show = false" clickable>
              <q-item-section>
                <q-avatar icon="close"></q-avatar>
              </q-item-section>
              <q-item-section>關閉設定</q-item-section>
            </q-item>
          </q-list>
        </div>
      </transition>
      <transition name="curtain">
        <div class="curtain" v-if="!status.isReady">
          <h1>Multi Serial App v3</h1>
        </div>
      </transition>
    </div>
    <script src="js/asset/2.6.11-vue.min.js"></script>
    <script src="js/asset/2.24.0-moment.js"></script>
    <script src="js/asset/1.6.3-mousetrap.js"></script>
    <script src="js/asset/1.11.3-quasar.umd.min.js"></script>
    <script src="js/asset/1.11.3-zh-hant.umd.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>