.screen(@click.self="screenClick()" v-cloak)
  transition-group(name="card" tag="div").card-area
    serial-card(v-for="(card, path) in cardVal"
                @setting="cardSettingEvent"
                @delete="deleteCard"
                ref="serialCard"
                :path="path" :key="path")


  transition(name="move-left")
    .path-list(v-if="menu.com.show"
              @mouseleave="menu.com.show = false")
      .path-btn(v-for="com in comList"
                :class="{'exist': com.exist}"
                @click="switchCard(com.path)")
        label
          | {{com.path}}
        label.fs-12
          | {{com.manufacturer}}　

  .menu(@mouseenter="menu.com.show = true"
        :class="{'hover': menu.com.show}").lb



  .menu(@mouseenter="menu.option.show = true"
        :class="{'hover': menu.option.show}").rb

  transition(name="move-right")
    .app-option(v-if="menu.option.show")
      q-list
        //q-expansion-item(label="資源設定" icon="folder_open" 
                         caption="參數檔、命令檔 •••")
          .option-item
            label 參數檔路徑
            .ctrl
              input.text
              q-tooltip(transition-show="jump-up"
                        transition-hide="jump-up"
                        anchor="center right" self="center left"
                        :content-class="['fs-14', 'word-break']")
                | HI
          .option-item
            label 命令檔路徑
            .ctrl
              input.text

        q-expansion-item(label="管理儲存檔案" icon="storage" 
                         caption="卡片設定檔、命令集 •••")
          .form-item
            .label 所有卡片設定檔
            .ctrl
              select(v-model="menu.option.items.selectCard")
                option(v-for="card in menu.option.items.storeFile.card"
                       :value="card") {{card}}
            .btn(@click="popupDeleteCardRecord(menu.option.items.selectCard)")
              | 刪除

          .form-item
            .label 所有命令集
            .ctrl
              select(v-model="menu.option.items.selectCmd")
                option(v-for="cmd in menu.option.items.storeFile.cmd"
                       :value="cmd") {{cmd}}
            .btn(@click="popupDeleteCmdRecord(menu.option.items.selectCmd)")
              | 刪除

        q-item(@click="menu.option.show = false"
              clickable)
          q-item-section
            q-avatar(icon="close")
          q-item-section 關閉設定

  transition(name="curtain")
    .curtain(v-if="!status.isReady")
      h1 Multi Serial App v3
    