@import "../var"

.cmd-form
  .header
    display: flex
    flex-direction: row
    align-items: center
    .q-btn
      border-radius: 0
      &:not(:first-child)
        margin-left: 10px
      .q-btn__wrapper
        padding: 0px
        min-height: auto

  .body
    .cmd-item
      display: flex
      align-items: center
      position: relative
      &:not(:first-child)
        margin-top: 10px
      &:nth-child(4n)
        padding-bottom: 10px
        border-bottom: 1px solid rgba(white, 0.4)
      &:last-child
        border: none

      .emit-btn
        width: 22px
        height: 20px
        border: 1px solid rgba(white, 0.7)
        margin-right: 10px
        cursor: pointer
        position: relative
        transition-duration: 0.4s
        &.mode
          background: rgba($color-main, 0.9)
        .effect
          position: absolute
          width: 100%          
          height: 100%
          outline: 1px solid rgba(white, 0)  
          transition-duration: 0.4s

        .effect-leave, .effect-enter
          outline: rgba(white, 0.9) solid 1px
          outline-offset: 0px
        .effect-leave-active, .effect-enter-active
          outline: rgba(white, 0.9) solid 1px
        .effect-leave-to, .effect-enter-to
          outline: rgba(white, 0) solid 1px
          outline-offset: 10px

      input
        width: 100%
        outline: none
        background: rgba(white, 0.1)
        font-family: "Noto Sans TC"
        padding: 5px 10px
        box-sizing: border-box
        transition-duration: 0.2s
        color: white
        border: 0px solid rgba(white, 0)
        border-left-width: 3px
        &.interval
          border-left-color: #348feb
          border-left-width: 3px
        &.timeout
          border-left-color: #ff8533
        &.chain
          border-left-color: #b1ff33

        &.err
          border: 1px solid $color-err
          border-left-width: 3px
          border-right-width: 3px

      .suffix
        width: 40px
        text-align: right
        color: white
        font-size: 12px
        margin-left: 5px
        text-shadow: 0px 0px 10px rgba(#000, 0.8)


.cmd-form-btn-menu
  border: 1px solid rgba(white, 0.4)
  border-radius: 0
  color: white
  .form-item
    padding: 10px 20px

  .q-separator
    background: rgba(white, 0.3)

  input, select
    color: white
    
  