@import "../var"

$card-w: 400px
$card-h: 300px
$card-p: 15px

.serial-card
  min-width: $card-w
  min-height: $card-h
  padding: $card-p $card-p
  border: 1px solid rgba(white, 0.5)
  position: relative
  display: flex
  transition-duration: 0.4s
  pointer-events: auto
  color: white

  margin-right: 20px
  margin-bottom: 20px
  .frame-shapes
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    $size: 3px
    &.selected
      $bSize: 10px
      .shape
        background: rgba($color-main, 0.4)
        width: $bSize
        height: $bSize
        transform: rotate(90deg)
        $offset: -$bSize/2
        &.rt
          right: $offset
          top: $offset
        &.rb
          right: $offset
          bottom: $offset
        &.lt
          left: $offset
          top: $offset
        &.lb
          left: $offset
          bottom: $offset

    .shape
      position: absolute
      width: $size
      height: $size
      background: white
      background: rgba(white, 0.4)
      transition-duration: 0.4s
      $offset: 0px
      &.rt
        right: $offset
        top: $offset
      &.rb
        right: $offset
        bottom: $offset
      &.lt
        left: $offset
        top: $offset
      &.lb
        left: $offset
        bottom: $offset


  &.selected
    border-color: $color-main

  .card-content    
    display: flex
    flex-direction: column
    position: relative

  .header
    width: 100%
    height: 60px
    position: relative
    margin-bottom: 10px
    padding-top: 10px
    padding-bottom: 25px
    border-bottom: 1px solid rgba(white, 0.2)
    .path
      font-size: 22px
      line-height: 1
      color: rgba(white, 0.8)
      letter-spacing: 2px
      text-shadow: 0px 0px 10px rgba(white, 0.8)
      transition-duration: 0.7s
      &.active
        text-shadow: 0px 0px 10px rgba(white, 1)
        color: $color-main
    .action
      position: absolute
      right: 0
      display: flex
      justify-content: flex-end
      align-items: center
      .switch
        width: 20px
        height: 20px
        cursor: pointer
        &::after, &::before
          content: ""
          position: absolute
          top: 50%
          right: 0
          transition-duration: 0.7s
          transform: translateY(-50%)
          transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1)

        $size: 35px
        &::after          
          width: $size
          height: $size
          background: rgba($color-main, 0)
          border: 1px solid rgba(white, 0.8)
          box-shadow: 0px 0px 10px rgba($color-main, 0)
        &::before
          width: $size
          height: $size
          border: 1px solid rgba(white, 0)
          transform: translateY(-50%) scale(0)
        
        &.active
          &::after
            background: rgba($color-main, 1)
            border-color: rgba(white, 0)
            transform: translateY(-50%) scale(0.4)
            box-shadow: 0px 0px 10px rgba($color-main, 1)
          &::before
            border-color: rgba(white, 0.5)
            transform: translateY(-50%) scale(1)

  .body
    display: flex
    flex-direction: column
    .data-input
      position: relative
      width: 100%
      margin-bottom: 10px
      font-family: 'Noto Sans TC'

      .sendNum
        position: absolute
        top: 50%
        right: 0%
        color: $color-main
        transform: translate(-50%, -50%)

      input
        width: 100%
        border: none
        outline: none
        background: linear-gradient(-45deg, rgba(white, 0), rgba(white, 0.05))
        padding: 10px
        color: rgba(white, 0.8)
        box-sizing: border-box
        transition-duration: 0.4s
        border: 1px solid rgba(white, 0)
        border-left-width: 2px
        border-right-width: 2px
        &.err
          border-color: $color-err

      .effect
        position: absolute
        width: 100%
        height: 100%
        top: 0px
        left: 0px
        pointer-events: none
        transition-duration: 0.1s
      .send-enter, .send-leave-to 
        background: rgba(white, 0.1)

    .data-textarea
      textarea, .textarea
        width: 500px
        height: 470px
        min-width: 300px
        min-height: 300px
        //font-family: "細明體"
        font-family: 'textarea-font'
        letter-spacing: 2px
        line-height: 2
        border: none
        outline: none
        background: linear-gradient(-45deg, rgba(white, 0), rgba(white, 0.05))
        //background: none
        resize: both
        overflow-y: auto
        margin-top: 10px
        padding: 10px
        color: rgba(white, 0.8)
        box-sizing: border-box
        word-break: break-all
        err
          color: $color-err
        warn
          color: $color-warn
        .text-item
          display: flex
          margin-top: 5px
          .date
            border-right: 1px solid rgba(white, 0.2)
            margin-right: 10px
            padding-right: 10px
            flex: 1
          .text
            width: 100%
            display: flex
            justify-content: flex-start
            align-items: flex-start
            font-family: 'textarea-font'
            box-sizing: border-box
            word-break: break-all
            white-space: pre-wrap
            flex: 4

  .option
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(darken($color-black, 20%), 0.98)
    overflow: auto
    .q-expansion-item      
      border-bottom: 1px solid rgba(white, 0.3)
      .q-item__label
        font-size: 18px
      .q-item__label--caption
        font-size: 12px
        color: white

    .option-item
      display: flex
      align-items: center
      padding: 5px 15px
      label, a
        color: white
        flex: 1
        &.border
          border: 1px solid rgba(white, 0.5)
          border-left-width: 3px
          border-right-width: 3px
          padding: 0 10px
        &.solid
          background: rgba(white, 0.2)
          padding: 0 10px
      input, select
        padding: 5px 10px
        border: none
        outline: none
        background: rgba(white, 0.1)
        text-align: center
        flex: 0.8
        font-family: 'Noto Sans TC'
        color: white
      input[type="checkbox"]
        flex: 0.8
        height: 20px
      select
        text-align-last: center
        font-family: "Noto Sans TC"
        option
          color: white
          background: rgba($color-bg, 0.95) 
          font-family: "Noto Sans TC"
          border: none
          outline: none
   


// 卡片右鍵選單
.card-context-menu
  border-radius: 0px
  border: 1px solid rgba(white, 0.3)
  background: rgba($color-bg, 0.9)
  color: white
  .q-list
    min-width: 170px
  .q-item
    &.active
      background: rgba(white, 0.1)
      .q-item__section
        color: $color-main

    input, select
      padding: 5px 10px
      border: none
      outline: none
      background: rgba(white, 0.1)
      text-align: center
      flex: 0.8
      font-family: 'Noto Sans TC'
      margin-top: 5px
      color: white
    input[type="checkbox"]
      flex: 0.8
      height: 20px
    select
      text-align-last: center
      font-family: "Noto Sans TC"
      option
        color: white
        background: rgba($color-bg, 0.95) 
        font-family: "Noto Sans TC"
        border: none
        outline: none

  .q-separator
    background: rgba(white, 0.3)
    