
<template>
  <div class="cmd-form">
    <div class="header">
      <q-btn class="btn" @click="loadCmdList()">
         載入命令
        <q-menu content-class="cmd-form-btn-menu" dark="dark">
          <q-list>
            <template v-if="!status.isLoadingStoreCmd">
              <template v-if="cmdList &amp;&amp; cmdList.length !== 0">
                <div class="form-item v">
                  <div class="label">已儲存的命令清單</div>
                  <select v-model="cmd.loadFileName">
                    <option v-for="cmd in cmdList" :value="cmd">{{cmd}}</option>
                  </select>
                </div>
                <q-separator></q-separator>
                <q-item @click="loadCmd(cmd.loadFileName)" clickable="clickable" v-close-popup="true">
                  <q-item-section>載入</q-item-section>
                </q-item>
              </template>
              <div class="form-item" v-else="v-else">
                <div class="label m-0px">沒有儲存的命令</div>
              </div>
            </template>
            <div class="form-item" v-else="v-else">
              <q-spinner size="2em"></q-spinner>
            </div>
          </q-list>
        </q-menu>
      </q-btn>
      <q-btn class="btn">另存命令
        <q-menu content-class="cmd-form-btn-menu" dark="dark">
          <q-list>
            <div class="form-item v">
              <div class="label">檔名</div>
              <input v-model="cmd.saveAsName"/>
            </div>
            <q-separator></q-separator>
            <q-item @click="saveAs()" clickable="clickable" v-close-popup="true">
              <q-item-section>儲存</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </div>
    <div class="body">
      <div class="cmd-item" v-for="(cmdItem, cmdIndex) in cmd.list">
        <!-- 右鍵設定-->
        <q-menu content-class="card-context-menu" context-menu="context-menu">
          <q-list>
            <q-item>
              <q-item-section>發送設定</q-item-section>
            </q-item>
            <q-item :disable="cmdItem.mode.timer !== null">
              <q-item-section :class="{'pe-none': cmdItem.mode.timer !== null}">類型
                <select v-model="cmdItem.mode.type">
                  <option value="">停用</option>
                  <option value="interval">間隔</option>
                  <option value="timeout">延遲</option>
                  <option value="chain">連鎖</option>
                </select>
              </q-item-section>
            </q-item>
            <template v-if="cmdItem.mode.type === 'interval'">
              <q-item :disable="cmdItem.mode.timer !== null">
                <q-item-section :class="{'pe-none': cmdItem.mode.timer !== null}">間隔時間（ms）
                  <input v-model.number="cmdItem.mode.option.interval"/>
                </q-item-section>
              </q-item>
            </template>
            <template v-else-if="cmdItem.mode.type === 'timeout'">
              <q-item :disable="cmdItem.mode.timer !== null">
                <q-item-section :class="{'pe-none': cmdItem.mode.timer !== null}">延遲時間（ms）
                  <input v-model.number="cmdItem.mode.option.timeout"/>
                </q-item-section>
              </q-item>
            </template>
            <template v-else-if="cmdItem.mode.type === 'chain'">
              <q-item :disable="cmdItem.mode.timer !== null">
                <q-item-section :class="{'pe-none': cmdItem.mode.timer !== null}">接續命令
                  <select v-model.number="cmdItem.mode.option.chain">
                    <option v-for="n in 12" v-if="n !== (cmdIndex+1)" :value="n">{{'F' + n}}</option>
                  </select>
                </q-item-section>
              </q-item>
              <q-item :disable="cmdItem.mode.timer !== null">
                <q-item-section :class="{'pe-none': cmdItem.mode.timer !== null}">延遲時間（ms）
                  <input v-model.number="cmdItem.mode.option.timeout"/>
                </q-item-section>
              </q-item>
            </template>
            <q-separator></q-separator>
            <q-item>
              <q-item-section>命令說明
                <input v-model="cmdItem.description"/>
              </q-item-section>
            </q-item>
          </q-list>
        </q-menu>
        <!-- 發送按鈕-->
        <div class="emit-btn" @click="sendCmd(cmdItem, cmdStatus[cmdIndex])" :class="{'mode': cmdItem.mode.timer !== null}">
          <transition name="effect">
            <div class="effect" :key="cmdItem.timestamp"></div>
          </transition>
        </div>
        <!-- 輸入框-->
        <input v-model.trim="cmdItem.value" @keydown.enter="sendCmd(cmdItem, cmdStatus[cmdIndex])" :class="[cmdStatus[cmdIndex].status, cmdItem.mode.type]"/>
        <!-- 輸入框後缀顯示-->
        <transition name="width-clip">
          <div class="suffix" v-if="cmdItem.mode.type === 'chain'
                        &amp;&amp; cmdItem.mode.option.chain !== -1">F{{cmdItem.mode.option.chain}}</div>
        </transition>
        <!-- 錯誤提示訊息-->
        <q-tooltip transition-show="jump-right" transition-hide="jump-right" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                                  cmdStatus[cmdIndex].status, 
                                  {'d-none': cmdStatus[cmdIndex].status !== 'err'}]">{{cmdStatus[cmdIndex].msg}}</q-tooltip>
        <!-- 命令說明-->
        <q-tooltip v-if="cmdItem.description !== ''" transition-show="jump-left" transition-hide="jump-left" anchor="center left" self="center right" :content-class="['fs-14',  'word-break', 'border-effect']">{{cmdItem.description}}</q-tooltip>
      </div>
    </div>
  </div>
</template>
<script src="./js/cmd-form.js"></script>