
<template>
  <div class="serial-card" @click="selectCard()" :key="path" :class="{'selected': status.isSelected}">
    <div class="frame-shapes" :class="{'selected': status.isSelected}">
      <div class="shape rt"></div>
      <div class="shape rb"></div>
      <div class="shape lt"></div>
      <div class="shape lb"></div>
    </div>
    <div class="d-none">{{cardSetting}}</div>
    <!-- 發送、接收-->
    <div class="card-content">
      <!-- 卡片右鍵選單-->
      <q-menu content-class="card-context-menu" context-menu="context-menu">
        <q-list>
          <q-item @click="panel.showOption = !panel.showOption" :class="{'active': panel.showOption}" clickable="clickable" v-close-popup="true">
            <q-item-section>參數設定</q-item-section>
          </q-item>
          <!--q-item(clickable v-close-popup="true")q-item-section 開關 Port
          -->
          <q-item @click="deleteCard()" clickable="clickable" v-close-popup="true">
            <q-item-section>刪除卡片</q-item-section>
          </q-item>
          <q-separator></q-separator>
          <q-item @click="panel.showCmds = !panel.showCmds" :class="{'active': panel.showCmds}" clickable="clickable">
            <q-item-section>指令清單</q-item-section>
          </q-item>
          <!--q-item(clickable)
          q-item-section 筆記本
          
          -->
          <q-separator></q-separator>
          <q-item @click="clearReceiceData()" clickable="clickable" v-close-popup="true">
            <q-item-section>清空接收訊息</q-item-section>
          </q-item>
          <q-item @click="clearStyle('dataTextarea')" clickable="clickable" v-close-popup="true">
            <q-item-section>預設大小</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
      <div class="header">
        <div class="row">
          <label class="path" :class="{'active': status.isPortOpen}">{{com.path}}</label>
          <div class="action">
            <div class="switch" @click="switchPort()" :class="{'active': status.isPortOpen}"></div>
          </div>
        </div>
      </div>
      <div class="body">
        <!-- 資料輸入框-->
        <div class="data-input">
          <input v-model="input.val" :class="sendNumStatus.status" @keydown.enter="sendEvent()"/>
          <!-- 提示「純數值發送」-->
          <q-icon class="sendNum" v-if="com.option.isSendNum" name="format_list_numbered">
            <q-tooltip transition-show="jump-right" transition-hide="jump-right" anchor="center right" self="center left" :content-class="['fs-20',  'word-break', 'border-effect']">純數值發送</q-tooltip>
          </q-icon>
          <transition name="send" mode="out-in">
            <div class="effect" :key="input.timestamp"></div>
          </transition>
          <!-- 提示訊息-->
          <q-tooltip transition-show="jump-right" transition-hide="jump-right" anchor="center right" self="center left" :content-class="['fs-14',  'word-break', 'border-effect',
                                    sendNumStatus.status,
                                    {'d-none': sendNumStatus.status !== 'err'}]">{{sendNumStatus.msg}}</q-tooltip>
        </div>
        <div class="br"></div>
        <!-- 資料接收框-->
        <div class="data-textarea">
          <!--.textarea(v-if=""
                  ref="dataTextarea"
                  :style="textareaStyle")
          | {{textareaString}}
          -->
          <div class="textarea" ref="dataTextarea" :style="textareaStyle">
            <div class="text-item" v-for="data in textareaDatas" :style="textareaStyle">
              <div class="date" v-if="textarea.display.showTime">{{formatTimestamp(data.timestamp)}}</div>
              <div class="text" v-html="data.data"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 設定區-->
      <transition name="opacity">
        <div class="option" v-if="panel.showOption">
          <q-list>
            <q-expansion-item label="串列通訊設定" icon="settings_power" caption="BPS、校驗位、停止位 •••">
              <div class="option-item">
                <label>BPS</label>
                <input v-model.number="com.option.baudRate"/>
              </div>
              <div class="option-item">
                <label>buffer</label>
                <input v-model.number="com.option.highWaterMark"/>
              </div>
              <div class="option-item">
                <label>位元數</label>
                <input v-model.number="com.option.dataBits"/>
              </div>
              <div class="option-item">
                <label>停止位</label>
                <input v-model.number="com.option.stopBits"/>
              </div>
              <div class="option-item">
                <label>校驗位</label>
                <input v-model.number="com.option.parity"/>
              </div>
            </q-expansion-item>
            <q-expansion-item label="解析器設定" icon="memory" caption="解析器類型、各種參數 •••">
              <div class="option-item">
                <label>類型</label>
                <select v-model="com.parser.type" @change="setParser()">
                  <option v-for="item in com.parser.list" :value="item.type">{{item.type}}</option>
                </select>
              </div>
              <div class="option-item">
                <label class="solid">{{parserDescription}}</label>
              </div>
              <template v-if="com.parser.type === 'Regex'">
                <div class="option-item">
                  <label>regex</label>
                  <input v-model="com.parser.option.regex" @change="setParser()"/>
                </div>
                <div class="option-item">
                  <label>encoding</label>
                  <input v-model="com.parser.option.encoding" @change="setParser()"/>
                </div>
              </template>
              <template v-else-if="com.parser.type === 'ByteLength'">
                <div class="option-item">
                  <label>byte 數量</label>
                  <input v-model.number="com.parser.option.length" type="number" @change="setParser()"/>
                </div>
              </template>
              <template v-else-if="com.parser.type === 'Readline'">
                <div class="option-item">
                  <label>encoding</label>
                  <input v-model="com.parser.option.encoding" @change="setParser()"/>
                </div>
                <div class="option-item">
                  <label>delimiter</label>
                  <input v-model="com.parser.option.delimiter" @change="setParser()"/>
                </div>
              </template>
              <template v-else-if="com.parser.type === 'Delimiter'">
                <div class="option-item">
                  <label>delimiter</label>
                  <input v-model="com.parser.option.delimiter" @change="setParser()"/>
                </div>
              </template>
              <template v-else-if="com.parser.type === 'InterByteTimeout'">
                <div class="option-item">
                  <label>interval</label>
                  <input v-model.number="com.parser.option.interval" type="number" @change="setParser()"/>
                </div>
                <div class="option-item">
                  <label>maxBufferSize</label>
                  <input v-model.number="com.parser.option.maxBufferSize" type="number" @change="setParser()"/>
                </div>
              </template>
            </q-expansion-item>
            <q-expansion-item label="發送接收設定" icon="swap_vert" caption="發送字串、純數字 •••">
              <div class="option-item">
                <label>發送純數值</label>
                <input v-model="com.option.isSendNum" type="checkbox"/>
              </div>
              <div class="option-item">
                <label>接收資料以 16 進位顯示</label>
                <input v-model="com.option.hexNum" type="checkbox"/>
              </div>
              <!--.option-item
              label 起始符
              input(v-model="com.option.startChar")
              -->
              <!--.option-item
              label 結尾符
              input(v-model="com.option.endChar")
              
              -->
            </q-expansion-item>
            <q-expansion-item label="卡片功能設定" icon="toc" caption="是否自動捲動、自動清空 •••">
              <div class="option-item">
                <label>發送後清空</label>
                <input v-model="com.option.sendClear" type="checkbox"/>
              </div>
              <div class="option-item">
                <label>貼底自動捲動</label>
                <input v-model="com.option.autoScroll" type="checkbox"/>
              </div>
            </q-expansion-item>
            <q-expansion-item label="資料顯示設定" icon="book" caption="資料接收框時間格式、字級、字距 •••">
              <div class="option-item">
                <label>是否顯示時間戳記</label>
                <input v-model="textarea.display.showTime" type="checkbox"/>
              </div>
              <div class="option-item"><a href="https://momentjs.com/docs/#/displaying/format/" target="_blank">時間戳記格式</a>
                <input class="flex-none" v-model.number="textarea.display.dateFormat"/>
              </div>
              <q-separator></q-separator>
              <div class="option-item">
                <label>字級</label>
                <input class="w-100px flex-none" v-model.number="textarea.style.fontSize.val" type="number"/>
                <input class="w-100px flex-none" v-model="textarea.style.fontSize.unit"/>
              </div>
              <div class="option-item">
                <label>行高</label>
                <input class="w-100px flex-none" v-model.number="textarea.style.lineHeight.val" type="number"/>
                <input class="w-100px flex-none" v-model="textarea.style.lineHeight.unit"/>
              </div>
              <div class="option-item">
                <label>字距</label>
                <input class="w-100px flex-none" v-model.number="textarea.style.letterSpacing.val" type="number"/>
                <input class="w-100px flex-none" v-model="textarea.style.letterSpacing.unit"/>
              </div>
            </q-expansion-item>
            <q-item @click="panel.showOption = false;" clickable="clickable">
              <q-item-section>
                <q-avatar icon="close"></q-avatar>
              </q-item-section>
              <q-item-section>關閉設定</q-item-section>
            </q-item>
          </q-list>
        </div>
      </transition>
    </div>
    <transition name="width-clip">
      <div class="br v ml-10px mr-10px" v-if="panel.showCmds"></div>
    </transition>
    <!-- 命令清單-->
    <transition name="width-clip">
      <cmd-form class="card-content" v-if="panel.showCmds" :path="path" :sendNumData="com.option.isSendNum" ref="cmd-form" @send="sendEvent" @msg="showTips"></cmd-form>
    </transition>
  </div>
</template>
<script src="./js/serial-card.js"></script>